.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 43px 45px 44px 63px;
  border-bottom: 1px solid #eaeaea;

  &__link {
    text-decoration: none;
    transition: 0.5s;
  }

  &__link:hover {
    opacity: 0.5;
  }

  &__intro {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }

  &__logo {
    width: 40px;
    height: 40px;
  }

  &__info {
    margin: 0;
  }

  &__title {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.21;
    color: #000;
    text-transform: uppercase;
  }

  &__text {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.21;
    color: #9d9d9d;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0;
    border: 0;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.21;
    color: #5c5c5c;
    background: #fff;
    transition: 0.5s;
  }

  &__button:hover {
    cursor: pointer;
    opacity: 0.5;
  }

  &__shopping-cart {
  }

  &__favorites {
    display: flex;
  }

  &__user {
    display: flex;
  }
}
